## CI / workflows
/.github/ @vpchung

## Documentation
/docs/ @vpchung @aclayton555 @aditigopalan @Bankso

## Data models and standard terms
/modules/ @aditigopalan @Bankso
/templates/ @aditigopalan @Bankso
