## CI / workflows
/.github/ @vpchung

## Documentation
/docs/ @vpchung @aclayton555 @aditigopalan @Bankso
/scripts/ @vpchung @aclayton555 @aditigopalan @Bankso
README.md @vpchung @aclayton555 @aditigopalan @Bankso

## Data models and standard terms
/dca_config/ @aditigopalan @Bankso
/modules/ @aditigopalan @Bankso
/templates/ @aditigopalan @Bankso
