# Project
site_name: "MC2 Center Data Models Explorer"
site_description: >-
  Versioned history of the MC2 Center data models.

# Repository
repo_url: https://github.com/mc2-center/data-models
repo_name: data-models

# Navigation
nav:
  - Home: 
    - index.md
    - MC2 Center Data Models:
      - Dataset Data Model: model/dataset.md
      - Education Resource Data Model: model/education.md
      - Grant Data Model: model/grant.md
      - Person Data Model: model/person.md
      - Publication Data Model: model/publication.md
      - Tool Data Model: model/tool.md
  - Standard Terms:
    - All terms: valid_values/all_terms.md
    - Terms by model:
      - Dataset: valid_values/dataset.md
      - Education Resource: valid_values/education.md
      - Grant: valid_values/grant.md
      - Person: valid_values/person.md
      - Publication: valid_values/publication.md
      - Tool: valid_values/tool.md
  - Contributing to the Data Model: contributing.md

# Theme configuration
theme:
  name: material
  font:
    text: DM Sans
  palette:
    - media: "(prefers-color-scheme: light)" 
      scheme: default
      primary: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)" 
      scheme: slate
      primary: deep purple
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  logo: assets/cckp-logo.png
  icon:
    admonition:
      note: octicons/tag-16
      info: octicons/info-16
  features:
    - content.code.copy
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow

plugins:
- search
- table-reader:
    data_path: "modules"
    select_readers:
      - read_csv

hooks:
  - scripts/hooks.py

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - toc:
      permalink: true
