name: build-jsonld

on:
  pull_request:
    branches: [main]
    types: [opened]
    paths:
      - 'modules/**'
  workflow_dispatch:

env:
  schema_filename: mc2.model.csv
  
jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Install System Dependencies
        run: |
          sudo add-apt-repository ppa:deadsnakes/ppa
          sudo apt-get update
          sudo apt-get install -y pip python3.12-venv libcurl4-openssl-dev
      
      - uses: actions/checkout@v4.1.1
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
          fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository
 
      - name: Update valid values
        run: |
          python -m pip install --upgrade pip
          pip install pyyaml pandas
          python update_valid_values.py

      - name: Install schematic and convert schema
        shell: bash
        run: |
          python3.12 -m venv .venv
          chmod 755 .venv/bin/activate
          source .venv/bin/activate
          pip3.12 install schematicpy==24.1.1
          make CSV=$schema_filename
    
      - name: Commit files
        run: |
          git config --local user.email "mc2center@sagebase.org"
          git config --local user.name "mc2center-bot[bot]"
          git commit -m "build jsonld" -a
    
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
         github_token: ${{ secrets.GH_TOKEN }}
         branch: ${{ github.event.pull_request.head.ref }}
  